body {
    font-family: sans-serif;
    background-color: #0b0c10;
    color: #c5c6c7;
    text-align: center;
    padding: 2rem;
}

.date {
    max-width: 800px;
    margin: 2rem auto;
    font-size: 1rem;
    line-height: 1.6;
}

.latitude {
    max-width: 800px;
    margin: 2rem auto;
    font-size: 1rem;
    line-height: 1.6;
}